* {
  font-family: "Open Sans", "Century Gothic", Arial;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}
.interna {
  clear: none !important;
}

body {
  color: rgb(5,65,119);
  background-image: url("../images/bg.gif");
}

a {
  color: rgb(5,65,119);
  text-decoration: none;
}

input,select {
  font-family: Arial;
  font-size: 12px;
  position: relative;
}

#cuerpo {
  background: rgb(255,255,255);
  height: auto;
  margin: 0 auto 0;
  overflow: auto;
  position: relative;
  width: 1000px;
}

#logo {
  background-color: rgb(255,255,255);
  float: left;
  padding: 10px 11px 5px 38px;
  width: auto;
}

#menu_prim { /*Sistema informático | Inscripciones en línea*/
  background-color: rgb(255,255,255);
  float: right;
  font-size: 11px;
  height: 39px;
  max-width: 600px;
  min-width: 600px;
  padding-top: 30px;
  text-transform: uppercase;
}

#menu_prim span {
  position: absolute;
  right: 37px;
}

#div_buscador {
  background-color: white;
  float: right;
  height: 69px;
  padding-right: 38px;
  width: 562px;
}

#buscador {
  background-color: rgb(5,65,119);
  border-radius: 5px;
  float: right;
  height: 46px;
  position: relative;
  top: 12px;
  width: 360px;
}

#entrada {
  height: 16px;
  left: 10px;
  top: 10px;
  width: 240px;
}

input[name = "boton_buscador"] {
  position: relative;
  left: 27px;
  top: 4px;
}

/*No tocar! Cambiarían mucho los colores :/ */
.boton {
  -webkit-font-smoothing: antialiased;
  background-color: #054177 !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#70b7ff), to(#3298ff));
  background-image: -moz-linear-gradient(top, #007BBD, #054177);
  background-image: -ms-linear-gradient(top, #007BBD, #054177);
  background-image: -o-linear-gradient(top, #007BBD, #054177);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #70b7ff), color-stop(100%, #3298ff));
  background-image: -webkit-linear-gradient(top, #007BBD, #054177);
  background-image: linear-gradient(#007BBD, #054177);
  background-repeat: repeat-x;
  border-color: #054177 #054177;
  color: #fff !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#70b7ff", endColorstr="#3298ff");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007BBD', endColorstr='#054177', GradientType=0);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19);
}

/* Menú */

ul#menu,ul.submenu {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  z-index: 4;
}

ul#menu {
  clear: both;
  float: right;
  position: relative;
  right: 38px;
}

ul#menu > li {
  background-color: rgb(255,255,255);
  color: rgb(5,65,119);
  float: left;
  font-size: 11px;
  padding: 6px 10px 7px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

ul#menu li:hover {
  background-color: rgb(5,65,119);
  color: white;
}

ul#menu li > a {
  background-color: rgb(255,255,255);
  color: rgb(5,65,119);
  text-decoration: none;
}

ul#menu li:hover > a {
  background-color: rgb(5,65,119);
  color: rgb(255,255,255);
  text-decoration: none;
}

.submenu {
  left: -9999px;
  position: absolute;
  top: -9999px;
  z-index: 4;
}

.submenu li {
  background: none repeat scroll 0 0 rgb(255,255,255);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: rgb(5,65,119);
  font-size: 11px;
  padding: 10px;
  text-align: left;
  text-transform: none;
  width: 150px;
}

.submenu li:hover {
  background-color: rgb(0,123,189) !important;
}

.submenu li:hover a {
  background-color: rgb(0,123,189) !important;
}

ul#menu li:hover .submenu {
  left: 0px;
  top: 28px;
  width: 100%;
}

/* Título de la página */

#titulo {
  background-color: rgb(5,65,119);
  /*background-color: gray;*/
  clear: both;
  color: rgb(255,255,255);
  float: left;
  font-size: 14px;
  margin: 8px 38px;
  padding: 9px 0px 9px 18px;
  text-transform: uppercase;
  width: 906px;
}

.titulo_interna {
  width: 602px !important;
  margin: 8px 0 8px 38px !important;
}

/* Contenido */

#contenido {
  position: relative;
  color: rgb(0,0,0);
  float: left;
  font-size: 12px;
  margin: 0 9px 0 38px;
  padding: 0 40px;
  text-align: justify;
  width: 530px;
  min-height: 250px;
  z-index: 3;
}

#contenido p,#contenido ul {
  margin: 10px 0;
}

#contenido h1 {
  color: rgb(0,123,189);
  font-size: 15px;
  font-weight: 300;
  /*text-transform: uppercase;*/
}

#contenido h2 {
  color: rgb(5,65,119);
  font-size: 12px;
}

/* Slider */

#divslidermain {
  clear: both;
  height: 270px; /*264 + 6 (por los paddings)*/
  margin: 0px 38px 9px 38px;
  position: relative;
  width: 924px;
  z-index: 0;
}

.divSlider {
  color: rgb(0,0,0);
  float: left;
  font-size: 11px;
  height: 204px;
  margin: 25px 25px 35px 25px;
  overflow: hidden;
  top: 0px;
  width: 240px;
  z-index: 0;
}

.imgSlider {
  /*position: absolute;*/
  float: left;
  height: 264px;
  left: 3px;
  top: -10px;
  width: 632px;
  z-index: 0;
}

.bxslider {
  z-index: 0;
}

.tituloSlider {
  color: rgb(5,65,119);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 0;
}

/* Destacados */

#destacados {
  background-color: rgb(230,231,232);
  box-shadow: 0px 5px 5px #888888;
  float: left;
  font-size: 11px;
  height: 300px;
  margin: 9px 9px 9px 38px;
  overflow: hidden;
  position: relative;
  width: 290px;
}

.mini_titulo {
  background-color: rgb(5,65,119);
  color: white;
  font-size: 14px;
  padding: 9px;
  text-transform: uppercase;
  width: 100%;
}

.items {
  float: left;
  list-style: none outside none;
  margin: 0 20px;
  position: relative;
  width: 250px;
}

.items li {
  /*outline: 1px dashed black;*/
  /*  background-color: green;*/
  color: rgb(0,0,0);
  float: left;
  height: 55px;
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
}

div#destacados ul li {
  height: 100px;
}

.items li a {
  color: rgb(5,65,119);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.items li p {
  padding: 0;
}

.items li p:before {
  content: url("../images/iconito2.png");
}

.items li p:first-child::nth-line(2) {
  margin-left: 10px;
}

.items li h1 {
  color: rgb(5,65,119);
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.ver_mas {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

/* Menú chiquito */

#menu_dos {
  position: relative;
  top: -15px;
  float: right;
  margin: 0 94px 5px 0;
}

#menu_dos ul {
  /*outline: 1px solid red;*/
  list-style: none;
  position: relative;
}

#menu_dos ul li {
  font-size: 11px;
  color: rgb(0,0,0);
  text-transform: uppercase;
  border: 1px dotted rgb(0,0,0);
  border-width: 1px 0 0 0;
  padding: 5px 54px 5px 0;
}

#menu_dos ul li:nth-child(1) {
  border-top-style: none;
}

#menu_dos ul li:before {
  content: url("../images/iconito.png");
}

/* Buscador de actividades */

#busc_acti_outer {
  background-color: rgb(5,65,119);
  box-shadow: 0px 5px 5px #888888;
  float: right;
  height: 300px;
  margin: 9px 38px 9px 0px;
  position: relative;
  width: 615px;
  z-index: 2;
}

#busc_acti_tit {
  left: 40px;
  position: absolute;
  top: 1px;
  width: auto;
  z-index: 4;
}

#busc_acti_inner {
  height: 240px;
  left: 20px;
  outline: white solid 1px;
  padding: 20px 0px 0px 20px;
  position: relative;
  top: 20px;
  width: 555px;
  z-index: 1;
}

#form_acti {
  color: white;
  float: left;
  height: 190px;
  position: relative;
  top: 18px;
}

#form_acti input[type = text], select {
  bottom: 5px;
  height: 16px;
  top: 5px;
}

#calendario {
  position: relative;
  float: left;
  width: 261px;
  height: 192px;
  left: 44px;
  top: -10px;
  text-align: center;
  padding: 25px 5px;
}

.ui-datepicker-month {
  font-size: 13px;
}

.ui-datepicker-year {
  font-size: 13px;
}

/* Banner */

#banner {
  background-color: red;
  clear: both;
  float: left;
  height: 150px;
  margin: 9px 55px;
  position: relative;
  width: 890px;
}

#banner #prev {
  position: absolute;
  display: block;
  width: 20px;
  height: 140px;
  top: 5px;
  left: -17px;
  background: url("../images/arr_ban.jpg") 0 0;
}

#banner #prev:hover {
  background-position: 60px 0;
  cursor: pointer;
}

#banner #next {
  position: absolute;
  display: block;
  width: 20px;
  height: 140px;
  top: 5px;
  right: -17px;
  background: url("../images/arr_ban.jpg") 20px 0;
}

#banner #next:hover {
  background-position: 40px 0;
  cursor: pointer;
}

#banner #slider_banner {
  list-style: none;
}

#banner #slider_banner li {
  position: relative;
  float: left;
}

ul.bxslider {
  margin: 0;
  padding: 0;
}

#banner .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: none;
  left: 0;
}

/* Resoluciones */

#resoluciones {
  background-color: rgb(230,231,232);
  box-shadow: 0px 5px 5px #888888;
  float: right;
  font-size: 11px;
  height: 300px;
  margin: 9px 38px 9px 9px;
  overflow: hidden;
  position: relative;
  width: 290px;
  z-index: 2;
}

#resoluciones ul.items li h1 {
  background-color: rgb(0,123,189);
  color: rgb(255,255,255);
  font-size: 11px;
  font-weight: normal;
  margin: 0 0 3px 0;
  padding: 2px 10px;
  text-transform: none;
  width: 113px;
}

#resoluciones .jcarousel-clip-vertical {
  height: 165px !important;
}

#res_updt {
  width: 250px;
  height: 225px;
  /*outline: 1px solid red;*/
  position: relative;
  left: 20px;
  overflow: hidden;
}

/* Multimedia */

#multi_outer {
  background-color: rgb(40,40,40);
  box-shadow: 0px 5px 5px #888888;
  float: left;
  height: 300px;
  margin: 9px 0px 9px 38px;
  position: relative;
  width: 615px;
  z-index: 2;
}

#multi_outer video {
  position: relative;
  float: left;
  top: 15px;
  left: 15px;
  width: 360px;
  height: 270px;
}

#multi_outer #playlist {
  list-style: none;
  position: relative;
  float: right;
  right: 15px;
  top: 10px;
}

#multi_outer #playlist li {
  position: relative;
  width: 186px;
  /*outline: 1px solid red;*/
  height: 46px;
  padding: 12px;
  color: rgb(255,255,255);
  font-size: 10px;
  overflow: hidden;
  line-height: 10px;
}

#multi_outer #playlist li h1 {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(15,156,223);
  white-space: nowrap;
}

#multi_outer #playlist li:hover {
  background-color: rgb(90,90,90);
}

#multi_outer #playlist li img {
  position: relative;
  float: left;
  padding: 0 5px 0 0;
}

/* Panel en blanco */

#empty {
  background-color: white;
  float: left;
  height: 230px;
  margin: -190px 19px 0px 19px;
  position: relative;
  width: 962px;
  z-index: 1;
  box-shadow: 0px 8px 4px -4px #4c4c4c;
}

/* Menú final */

#menu_final {
  background-color: rgb(5,65,119);
  clear: both;
  float: left;
  height: 300px;
  margin-top: -100px;
  padding: 150px 82px 0px 82px;
  width: 836px;
  z-index: -2;
}

#menu_final > ul {
  list-style: none;
  width: 836px;
}

#menu_final ul > li {
  color: white;
  float: left;
  margin: 0 118px 0 0;
  padding: 0 0 3px 0;
  position: relative;
  text-transform: uppercase;
  width: 200px;
}

#menu_final ul li h1 {
  border-color: rgb(255,255,255);
  border-style: solid;
  border-width: 0 0 1px 0;
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding-bottom: 5px;
}

#menu_final ul li:nth-child(3) {
  margin: 0;
}

#menu_final ul li ul {
  list-style: none;
  overflow: hidden;
  width: 100%;
}

#menu_final ul li ul li {
  font-family: Arial;
  font-size: 12px;
  height: 20px;
  padding: 5px 5px;
  text-transform: none;
  width: 100%;
}

/* Actividades académicas */

.menu_act {
  position: relative;
  list-style: none;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

.menu_act:after {
  clear: both;
}

.menu_act li {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background: url("../images/Actividades.jpg");
  margin: 0 20px;
}

.menu_act li.info {
  background-position: 0 0;
}

.menu_act li.info:hover {
  background-position: -60px 0;
}

.menu_act li.docu {
  background-position: -120px 0;
}

.menu_act li.docu:hover {
  background-position: -180px 0;
}

.menu_act li.part {
  background-position: -240px 0;
}

.menu_act li.part:hover {
  background-position: -300px 0;
}

.menu_act li.foto {
  background-position: 240px 0;
}

.menu_act li.foto:hover {
  background-position: 180px 0;
}

.menu_act li.vide {
  background-position: 120px 0;
}

.menu_act li.vide:hover {
  background-position: 60px 0;
}

/* Título de la actividad */

.titulo_act {
  position: relative;
  clear: both;
  width: 50%;
  color: rgb(0,123,189);
  font-size: 15px;
  text-align: center;
  margin: 10px auto 0 auto;
}

.subt {
  width: 100%;
  font-size: 13px;
  font-style: italic;
  margin: 5px 0;
}

/* Tabla en actividades académicas */

.tabla_act td {
  font-size: 12px;
  padding: 10px;
}

.tabla_act td:first-child {
  color: rgb(0,123,189);
}